/* --- RESET --- */
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --- DEBUG --- */

.debug header{
    background-color: #add8e6;
}
.debug .header-top{
    background-color: #daa520;
    height: 40px;
}
.header-bottom{
    background-color: #00008b;
    padding: 50px 0px;
}
.debug .row{
    height: 400px;
}
.col-big{
    background-color: #1e90ff;
}
.col-small{
    background-color: #ffc0cb;
}
.debug .row-green{
    background-color: #228b22;
    height: 1000px;
}
/* --- COMMON --- */
.container{
    max-width: 1200px;
    margin: auto;
    border:2px dashed black;
}

/* --- HEADER --- */

header{
    padding: 15px 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-pink{
    background-color: #ee82ee;
    max-width: 900px;
    height: 400px;
    margin: auto;
}
/* --- MAIN --- */
section{
    padding: 40px 0px;
}
section:nth-child(2n){
    background-color: #d3d3d3;
}
.row{
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    width: 40%;
}


/* --- FOOTER --- */
.black{
    background-color: #23272a;
}

.orange{
    width: 30%;
    background-color: #f08080;
    border:1px dashed white;
}
.aqua{
    display: flex;
    width: 70%;
    background-color: #20b2aa;
}
.col{
    width: 25%;
    border:1px dashed white;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
    height: 40px;
}
